In [1]:
import pandas as pd
df=pd.read_csv('melb_data.csv')

In [2]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [20]:
df.dropna(axis=0, inplace=True)

In [21]:
# we need to remove na ('not available') value

In [22]:
# dot notation which we use to select the prediction

In [23]:
# selecting columns list we use to select the features

In [24]:
# selecting the predicting target

In [25]:
y=df.Price

In [26]:
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
15388     601000.0
15389    1050000.0
15390     385000.0
15392     560000.0
15395    2450000.0
Name: Price, Length: 6196, dtype: float64

In [27]:
X=df[['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']]

In [28]:
X

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
15388      3       2.0     972.0  -37.51232   145.13282
15389      3       1.0     179.0  -37.86558   144.90474
15390      1       1.0       0.0  -37.85588   144.89936
15392      2       1.0       0.0  -37.85581   144.99025
15395      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]

In [29]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [30]:
# Model Building steps

In [31]:
# 1.Define : What type of model will it be 
# 2.Fit: Capture pattern from data 
# 3.Predict: What is sounds like
# 4.Evaluate: How accurate the prediction is

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [35]:
model=DecisionTreeRegressor(random_state=1) #random state ensure that you get the same result in each run

In [39]:
# It does not matter what value you select for random state. It will not make quality model depending your choosing value.

In [37]:
model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [38]:
model.predict([[4,1.0,120.0,-37.80720,144.99410]])

array([1600000.])

In [40]:
# multiple prediction

In [41]:
print(model.predict(X.head()))

[1035000. 1465000. 1600000. 1876000. 1636000.]

In [42]:
print('Making Prediction for first ten value')
print(X.head(10))
print('Predictions are')
print(model.predict(X.head(10)))

Making Prediction for first ten value
    Rooms  Bathroom  Landsize  Lattitude  Longtitude
1       2       1.0     156.0   -37.8079    144.9934
2       3       2.0     134.0   -37.8093    144.9944
4       4       1.0     120.0   -37.8072    144.9941
6       3       2.0     245.0   -37.8024    144.9993
7       2       1.0     256.0   -37.8060    144.9954
11      2       1.0     220.0   -37.8010    144.9989
16      3       2.0     214.0   -37.8085    144.9964
17      2       2.0       0.0   -37.8078    144.9965
22      2       1.0     238.0   -37.8090    144.9976
23      3       2.0     113.0   -37.8056    144.9930
Predictions are
[1035000. 1465000. 1600000. 1876000. 1636000. 1097000. 1350000.  750000.
 1310000. 1200000.]

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
lin_model=LinearRegression()

In [45]:
lin_model.fit(X,y)

LinearRegression()

In [46]:
lin_model.predict([[3,2.0 ,245.0,-37.8024,144.9993]])

array([1180775.4330948])

In [47]:
print(model.predict(X.head(10)))

[1035000. 1465000. 1600000. 1876000. 1636000. 1097000. 1350000.  750000.
 1310000. 1200000.]

In [49]:
print(lin_model.predict([[2,1.0,156.0,-37.8079,144.9934]]))

[686860.76637912]

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [52]:
lin_m=LinearRegression()

In [53]:
lin_m.fit(X_train,y_train)

LinearRegression()

In [54]:
predictions=lin_m.predict(X_test)

In [55]:
predictions

array([ 941210.05767807, 1570902.77483875,  810549.23316121, ...,
        758746.18033665,  636059.11366847,  583902.57293054])

In [56]:
lin_m.score(X_test,y_test)

0.36927477684973464

In [57]:
lin_m.coef_

array([ 2.63336429e+05,  2.35163025e+05,  1.63747452e+01, -1.59625741e+06,
        6.46277095e+05])

In [58]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [60]:
lin_m.score(X_test,y_test)

0.36927477684973464

In [61]:
confusion_matrix(y_test,predictions)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [62]:
# it doesn't run, we found some error. The reason is accuracy score, classifiaction report and confusion matrix is used only for classification problem.

In [63]:
# For regression problem we have to use R2 Score, RME, RMSE

In [65]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [66]:
mean_absolute_error(y_test,predictions)

361100.40263207216

In [67]:
mean_squared_error(y_test,predictions)

262162180750.95917