In [1]:
import numpy as np
import pandas  as pd

In [2]:
df=pd.read_csv('bigmart_data.csv')

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(4650, 12)

In [7]:
X=df[['Outlet_Establishment_Year','Item_MRP']]
y=df['Item_Outlet_Sales']

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
model=LinearRegression()

In [16]:
model.fit(X_train,y_train)

LinearRegression()

In [19]:
pred=model.predict(X_test)

In [18]:
from pandas import DataFrame, Series

In [20]:
mse=np.mean((pred-y_test)**2)

In [21]:
mse

1133666.0798017248

In [22]:
coef=DataFrame(X_train.columns)

In [23]:
coef['estimate']=Series(model.coef_)

In [24]:
coef

                           0   estimate
0  Outlet_Establishment_Year  -8.275165
1                   Item_MRP  16.291014