In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('bigmart_data.csv')

In [3]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(4650, 12)

In [6]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [7]:
train=df[:3000]
test=df[3000:]

In [8]:
train_y=train['Item_Outlet_Sales']
test_y=test['Item_Outlet_Sales']

In [9]:
train_y.mean()

2248.696444933327

In [10]:
train_y.shape

(3000,)

In [11]:
train_prediction=[train_y.mean() for i in range(train_y.shape[0])]
test_prediction=[test_y.mean() for i in range(test_y.shape[0])]

In [12]:
from sklearn.metrics import mean_absolute_error

In [13]:
rmse_train=mean_absolute_error(train_y,train_prediction)**(0.5)
rmse_test=mean_absolute_error(test_y, test_prediction)**(0.5)

In [14]:
print(rmse_train,rmse_test)

34.526090795502576 34.62970102298731