In [1]:
path = "C:\desktop\nathan"  #string
print("string:",path)

string: C:\desktop
athan

In [2]:
path= r"C:\desktop\nathan"  #raw string
print("raw string:",path)

raw string: C:\desktop\nathan

In [3]:
import re

In [4]:
re.match('Analytics','Analytics Vidhya is the largest data science community of India')

In [5]:
text="Analytics Vidhya is the largest data science community of India"

In [6]:
re.match('Analytics',text)

In [11]:
re.match('largest',r'Analytics Vidhya is the largest data science community of India')

In [10]:
re.match('largest',r'Analytics Vidhya is the largest data science community of India')

In [12]:
result=re.match('Analytics',r'Analytics Vidhya is the largest data science community of India')

In [13]:
print(result.group())

Analytics

In [15]:
result=re.search('founded',r'Andrew NG founded Coursera. He also founded deeplearning.ai')

In [16]:
print(result.group())

founded

In [17]:
re.search('founded',r'Andrew NG founded Coursera. He also founded deeplearning.ai')

In [18]:
result = re.findall('founded',r'Andrew NG founded Coursera. He also founded deeplearning.ai')  
print(result)

['founded', 'founded']

In [19]:
str = r'Analytics Vidhya is the largest data science community of India'

x = re.findall("\AAnalytics", str)

print(x)

['Analytics']

In [20]:
re.findall('\AAnalytics', str)

['Analytics']

In [21]:
re.findall('\AVidhya',str)

[]

In [22]:
x = re.findall(r"est\b", str)
print(x)

['est']

In [23]:
re.findall('\aAnalytics', str)

[]

In [24]:
re.findall(r'\Ben',str)

['en']

In [25]:
str = "2 million monthly visits in Jan'19."

In [27]:
re.findall('\d',str)

['2', '1', '9']

In [28]:
re.findall(r'\d+',str)

['2', '19']

In [29]:
re.findall(r'\D',str)

[' ',
 'm',
 'i',
 'l',
 'l',
 'i',
 'o',
 'n',
 ' ',
 'm',
 'o',
 'n',
 't',
 'h',
 'l',
 'y',
 ' ',
 'v',
 'i',
 's',
 'i',
 't',
 's',
 ' ',
 'i',
 'n',
 ' ',
 'J',
 'a',
 'n',
 "'",
 '.']

In [30]:
re.findall(r'\D+',str)

[" million monthly visits in Jan'", '.']

In [31]:
re.findall(r'\w',str)

['2',
 'm',
 'i',
 'l',
 'l',
 'i',
 'o',
 'n',
 'm',
 'o',
 'n',
 't',
 'h',
 'l',
 'y',
 'v',
 'i',
 's',
 'i',
 't',
 's',
 'i',
 'n',
 'J',
 'a',
 'n',
 '1',
 '9']

In [33]:
re.findall('\w+',str)

['2', 'million', 'monthly', 'visits', 'in', 'Jan', '19']

In [34]:
re.findall('\W',str)

[' ', ' ', ' ', ' ', ' ', "'", '.']

In [35]:
str

"2 million monthly visits in Jan'19."

In [36]:
str="2 million @V monthly #c ##@@@ visits in Jan'19."

In [37]:
re.findall(r'\W+',str)

[' ', ' @', ' ', ' #', ' ##@@@ ', ' ', ' ', "'", '.']

In [38]:
str = "rohan and rohit recently published a research paper!"

In [39]:
re.findall(r'ro',str)

['ro', 'ro']

In [40]:
re.findall('ro.',str)
re.findall('ro..',str)
re.findall('ro...',str)

['rohan', 'rohit']

In [41]:
re.findall('^ro',str)

['ro']

In [42]:
re.findall('^BiG',str)

[]

In [43]:
re.findall('per$',str)

[]

In [44]:
str = "easy easssy eay ey"

In [45]:
re.findall('es*y',str)

['ey']

In [48]:
re.findall('ess+y',str)

[]

In [49]:
re.findall('eas+y',str)

['easy', 'easssy']

In [50]:
re.findall('eass?y',str)

['easy']

In [51]:
re.findall('data|India',str)

[]

In [52]:
str = "Analytics Vidhya is the largest data science community of India"

In [53]:
re.findall('data|India',str)

['data', 'India']

In [55]:
re.findall('[ydh]',str)

['y', 'd', 'h', 'y', 'h', 'd', 'y', 'd']

In [57]:
re.findall('[a-g]',str)

['a',
 'c',
 'd',
 'a',
 'e',
 'a',
 'g',
 'e',
 'd',
 'a',
 'a',
 'c',
 'e',
 'c',
 'e',
 'c',
 'f',
 'd',
 'a']

In [58]:
str = "Mars' average distance from the Sun is roughly 230 million km and its orbital period is 687 (Earth) days."

In [59]:
re.findall('\b[0-4]\d+',str)

[]

In [60]:
re.findall('[^rage]',str)

['M',
 's',
 "'",
 ' ',
 'v',
 ' ',
 'd',
 'i',
 's',
 't',
 'n',
 'c',
 ' ',
 'f',
 'o',
 'm',
 ' ',
 't',
 'h',
 ' ',
 'S',
 'u',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'o',
 'u',
 'h',
 'l',
 'y',
 ' ',
 '2',
 '3',
 '0',
 ' ',
 'm',
 'i',
 'l',
 'l',
 'i',
 'o',
 'n',
 ' ',
 'k',
 'm',
 ' ',
 'n',
 'd',
 ' ',
 'i',
 't',
 's',
 ' ',
 'o',
 'b',
 'i',
 't',
 'l',
 ' ',
 'p',
 'i',
 'o',
 'd',
 ' ',
 'i',
 's',
 ' ',
 '6',
 '8',
 '7',
 ' ',
 '(',
 'E',
 't',
 'h',
 ')',
 ' ',
 'd',
 'y',
 's',
 '.']

In [61]:
str = "@AV Largest Data Science community #AV!!"

In [63]:
re.findall('[^a-zA-Z0-9]\w+',str)

['@AV', ' Largest', ' Data', ' Science', ' community', '#AV']

In [64]:
str = 'Send a mail to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'

In [65]:
re.findall('[a-z0-9._-]+@\w+\.com',str)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']